@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Lexend:wght@100..900&family=Mountains+of+Christmas:wght@400;700&display=swap');

$white: #f8fafb;
$black: #1c2127;

$color1: #5372ff;

$size1: .5rem;
$size2: 1rem;
$size3: 2rem;
$size4: 4rem;
$size5: 8rem;

$fontmain: "Nunito", sans-serif;